#content_container {
  margin: 100px 20px 20px 20px;
}

#content_name  {
  background-image: linear-gradient(to right, #FF39C6, #FE9613);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.content_subject {
  background-image: linear-gradient(to right, #0DCDFD, #C7FE1E);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}