/* browser */
@media (min-width: 800px) {
  section {
    /* 1fr 1:1 비율이라는 뜻 */
    grid-template-columns: repeat(2, 1fr);  
    min-height: 95vh;
    gap: 100px;
    margin: 0 20%;
  }
}

/* mobile */
@media (max-width: 800px) {
  section {
    margin: 150px 10% 0 10%;
    gap: 50px;
  }

  #intro_text {
    margin-bottom: 50px;
  }

  #intro_text:nth-child(1) {
    order: 2;
  }
  
  #intro_text_art:nth-child(2) {
    order: 1;
  }
}

/* common */
section {
  display: grid;
  align-items: center;
  text-align: right;
}

#intro_text h1{
  margin-bottom: 15px;
}

#intro_text p{
  margin-bottom: 30px;
}

#intro_emphasis {
  background-image: linear-gradient(to right, #0DCDFD, #C7FE1E, #FE9613, #FF39C6);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.intro_button {
  padding: 10px;
  color: #0f0f0f;
  border-radius: 10px;
  background-color: #9f9f9f;
}

#intro_text_art {
  min-width: 100%;
  text-align: center;
}