/* browser */
@media (min-width: 800px) {
  article {
    min-height: 95vh;

    /* media diff */
    margin: 120px 23% 20px 23%;
  }
}

/* mobile */
@media (max-width: 800px) {
  article {
    min-height: 95vh;

    /* media diff */
    margin: 150px 20px 20px 20px;
  }
}

/* common */
.resume_container {
  margin: 0 0 40px 0;
}

/* name */
.resume_container h1 {
  background-image: linear-gradient(to right, #FF39C6, #FE9613 20%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  margin-bottom: 10px;
}

/* subject */
.resume_container h2 {
  background-image: linear-gradient(to right, #0DCDFD, #C7FE1E 20%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  margin-bottom: 10px;
}

/* company name */
.resume_container h3 {
  background-image: linear-gradient(to right, #D69B4E, #F3CF40 20%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  margin-bottom: 10px;
}

/* project name */
.resume_container h4 {
  color: #F2F2F0;
  margin-bottom: 10px;
  font-weight: 100;
}

.resume_workexperience {
  margin: 30px 0 40px 0;
}

.contact_item {
  display: flex;
  align-items: center;
}

.contact_icon {
  width: 19px;
  height: 20px;
  margin: 0 10px 0 0;
}


