#container {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#enter_string {
  display: flex;
  justify-content: center;
  cursor: pointer;
  animation: flash 1s linear infinite;
}

#insert_coin {
  background-image: linear-gradient(to right, #0DCDFD, #C7FE1E, #FE9613, #FF39C6);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}

a, a:visited {
  text-decoration-line: none;
  color: inherit;
}