/* browser */
@media (min-width: 800px) {
  #logo {
    background-image: linear-gradient(to right, #0DCDFD, #C7FE1E, #FE9613, #FF39C6);
  }

  header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    align-content: center;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
  }

  #menu_list li{
    margin: 0 30px;
  }
}

/* mobile */
@media (max-width: 800px) {
  #logo {
    background-image: linear-gradient(to right, #0DCDFD 25%, #C7FE1E, #FE9613, #FF39C6 75%);
    margin-bottom: 25px;
    text-align: center;
  }

  header {
    position: fixed;
    top: 5%;
    right: 0;
    width: 100%;
    display: grid;
  }

  #menu_list li{
    margin: 0 15px;
  }
}

/* common */
header {
  background-color: #0f0f0f;

  /* prevent drag */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header h1 {
  cursor: pointer;
}

#logo {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

#menu_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu_list li{
  cursor: pointer;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: all .5s ease;
}

#menu_list li:hover{
  color: white;
  border-bottom: 2px solid white;
}