nav {
  padding: 20px;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  display: flex;
  flex-direction: row;
}

#menus {
  display: flex;
  justify-content: center;
}

.spacing {
  margin: 0 10px 0 10px;
}