@font-face {
  font-family: 'Roboto';
  src: 
    url('./assets/font/NeoDunggeunmoPro-Regular.ttf') format('truetype'),
    url('./assets/font/NeoDunggeunmoPro-Regular.woff') format('woff'),
    url('./assets/font/NeoDunggeunmoPro-Regular.woff2') format('woff2');
}

/* mobile */
@media (max-width: 800px) {
  * {
    font-weight: 100;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #9f9f9f;
  font-family: 'Roboto';
}

body {
  background-color: #0f0f0f;
}
