@font-face {
  font-family: 'Roboto';
  src: 
    url('./assets/font/NeoDunggeunmoPro-Regular.ttf') format('truetype'),
    url('./assets/font/NeoDunggeunmoPro-Regular.woff') format('woff'),
    url('./assets/font/NeoDunggeunmoPro-Regular.woff2') format('woff2');
}

body {
  user-select: none;
  font-family: 'Roboto';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-theme="dark"] {
  background-color: #0f0f0f;
  color: #9f9f9f;
}

body[data-theme="light"] {
  background-color: #ffffff;
  color: #0f0f0f;
}

a:visited [data-theme="dark"]{
  color: #9f9f9f;
}

a:visited[data-theme="light"] {
  color: #0f0f0f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

